<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.estevao.chatbluetooth">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:name=".BluetoothManagerApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.activities.LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.activities.BluetoothChatActivity"
            android:label="">

        </activity>
        <activity
            android:name=".controller.activities.DeviceListActivity"
            android:label="Pessoas"></activity>

        <activity
            android:name=".controller.activities.UserProfileActivity"
            android:label="User Profile"></activity>
    </application>

</manifest>
